---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$header-font-family: "Montserrat", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: "Crimson Text", Sentinel, Times, "Times New Roman", serif;

$header-font-size:   16px;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #fafafa;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    600px;

$on-palm:          600px;
$on-laptop:        600px;

//@font-face {
//  font-family: "Montserrat";
//  src: url("../static/Montserrat-Regular.otf");
//}
//
//@font-face {
//  font-family: "Crimson Text";
//  src: url("../static/CrimsonText-Roman.ttf");
//}
//
//@font-face {
//  font-family: "Crimson Text";
//  src: url("../static/CrimsonText-Bold.ttf");
//  font-weight:bold
//}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
